.navbar-nav .nav-link.active {
    text-shadow: 3px 3px 2px rgb(134, 132, 132);
    /* text-decoration: 3px rgb(134, 132, 132) underline; */
}

#nav {
    position: sticky;
    top: 0;
    z-index: 1;
}